  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  .glassmorphism2 {
    background: rgba(18, 17, 17, 0.25);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  
  /* Clerk override */
  .cl-userButtonPopoverActionButtonIcon {
    color: white;
  }
  
  .cl-logoBox {
    height: 40px;
  }
  .cl-dividerLine {
    background: #252a41;
    height: 2px;
  }
  
  .cl-socialButtonsIconButton {
    border: 3px solid #565761;
  }
  
  .cl-internal-wkkub3 {
    color: white;
  }
  .cl-userButtonPopoverActionButton {
    color: white;
  }
  img.cl-socialButtonsProviderIcon__github{
    filter: invert(1);
  }
  